<h1 class="headerText">Viewing all articles</h1>

<table>
   <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
   </tr>

   <% @articles.each do |article| %>
      <tr>
         <td><%= article.id %></td>
         <td><%= article.title %></td>
         <td><%= article.description %></td>
         <td><%= link_to 'Edit', edit_article_path(article) %></td>
         <td><%= link_to 'Show', article_path(article) %></td>
         <td><%= link_to 'Destroy', article_path(article), method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
   <% end %>
</table>

<p>
   <button type="button" class="btn btn-primary btn-block">
      <%= link_to "Create New Article", new_article_path %>
   </button>
</p>